.App {
  height: 100dvh;
}
.dark {
  background-color: #282837;
}
.dark * {
  color: white;
  fill: white;
}

.light {
  background-color: #fff;
  color: #222;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0;
  }
}

